name: Build and Push Docker Image

on:
  push:
    branches:
      - main
      - master
    tags:
      - 'v*'
  pull_request:
    branches:
      - main
      - master

env:
  REGISTRY_DOCKER_HUB: docker.io
  IMAGE_NAME_DOCKER_HUB: akhil2020171/selfinvestment-api
  REGISTRY_GHCR: ghcr.io
  IMAGE_NAME_GHCR: akhil-2020171/selfinvestment-api

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Extract metadata (tags, labels)
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ${{ env.REGISTRY_DOCKER_HUB }}/${{ env.IMAGE_NAME_DOCKER_HUB }}
            ${{ env.REGISTRY_GHCR }}/${{ env.IMAGE_NAME_GHCR }}
          tags: |
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=sha
            type=raw,value=latest,enable={{is_default_branch}}

      - name: Log in to GitHub Container Registry
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY_GHCR }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Push to Docker Hub [PR]
        if: github.event_name == 'pull_request'
        run: echo "Docker image would be pushed on merge to main/master"

  test-image:
    needs: build-and-push
    runs-on: ubuntu-latest
    if: github.event_name != 'pull_request'

    steps:
      - name: Pull and test Docker image
        run: |
          docker run -d \
            --name selfinvestment-test \
            -p 5477:5477 \
            -e APP_SECURITY_API_KEY=akhilsharma \
            -e CORS_ALLOWED_ORIGINS=http://localhost:5477 \
            ${{ env.REGISTRY_DOCKER_HUB }}/${{ env.IMAGE_NAME_DOCKER_HUB }}:latest

          sleep 10

          # Test the API
          curl -f -H "X-API-KEY: akhilsharma" \
               http://localhost:5477/blackrock/challenge/v1/performance || exit 1

          docker stop selfinvestment-test
